<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<mapper namespace="com.springboot.mybatis.mapper.UserMapper">
    <insert id="insertUser" parameterType="UserDto">
        insert into tb_user(email, password, name, phoneNumber )
            values(#{email}, #{password}, #{name}, #{phoneNumber})
    </insert>

    <select id="selectUser" parameterType="UserDto" resultType="UserDto">
        select *
        from tb_user
        where id = #{id}
    </select>
</mapper>